<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/sytle.css"> <!-- css를 가져오기 위한 link-->
    <title>식단 수정 및 삭제</title>
</head>

<body>
    <div class= "title" > <!--로고 root(url : /)로 이동, 상단 title 영역-->
        <div class="left">
            <a href="/">
                <img src="../static/main_logo.png" class='main_logo' alt="메인 로고">
            </a>
        </div>
        <div class="right">
            <h1 class="center-title">식단 수정 및 삭제</h1>
        </div>
        <div class="right"></div>
    </div>

    <div class="retrive"> <!--수정하려는 식단을 조회하는 영역-->
        <form id="searchForm">
            <!-- 년월일을 따로 처리하기 위해 컨트롤러에서 추가 처리 필요 -->
            <label for="year">년</label>
            <select id="year" name="year" required>
                <option value = "">선택</option>
                {% for y in range(2025,2101) %}
                    <option value = "{{ y }}">{{ y }}년</option>
                {% endfor %}
            </select>

            <label for="month">월</label>
            <select id="month" name="month" required>
                <option value = "">선택</option>
                {% for m in range(1,13) %}
                    <option value = "{{ m }}">{{ m }}월</option>
                {% endfor %}
            </select>

            <label for="day">일</label>
            <select id="day" name="day" required>
                <option value = "">선택</option>
                {% for d in range(1,32) %}
                    <option value = "{{ d }}">{{ d }}일</option>
                {% endfor %}
            </select>

            <label for="time">식사 시간</label>
            <select id="time" name="time" required>
                <option value="">선택하세요</option>
                <option value="아침">아침</option>
                <option value="점심">점심</option>
                <option value="저녁">저녁</option>
                <!--태그 속 value 는 서버에 전송할 값, 태그 밖은 브라우저에 출력될 값-->
            </select>
            
            <button type="submit">조회</button>
        </form>
    </div>
    
    <div id = "resultArea"> <!--조회한 식단을 JS로 수정 및 삭제할 수 있는 영역-->
        <h2>식단 결과</h2>
        <table id= "Result">
            <thead>
                <tr>
                    <th>메뉴</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody id = "body"></tbody>
    </div>

    <!--수정 버튼 클릭 시 보이는 모달영역 -->
    <div id = "editModal" class="editModal" style="display: none;">
        <div class= 'editModal-content'>
            <h3>식단 수정</h3>
            <input type="text" id = "editInput">
            <div class="editModal-button">
                <button id = "edit-confirm">수정</button>
                <button id = "edit-cancel">취소</button>
            </div>
        </div>
    </div>

    <!--삭제 버튼 클릭 시 보이는 모달영역 -->
    <div id = "deleteModal" class= "deleteModal" style = "display: none;">
        <div class = 'deleteModal-content'>
            <h3>삭제하시겠습니까?</h3>
            <div class="deleteModal-button">
                <button id = "delete-confirm">삭제</button>
                <button id = "delete-cancel">취소</button>
            </div>
        </div>
    </div>

    <script src="../static/script.js"></script> <!-- js를 가져오기 위한 영역-->

</body>
</html>